@font-face {
  font-family: 'GT America';
  font-weight: 400;
  src: url('/static/GT-America-Standard-Regular.woff2') format('woff2'),
       url('/static/GT-America-Standard-Regular.ttf')  format('truetype'),
       url('/static/GT-America-Standard-Regular.otf')  format('opentype'),
}

@font-face {
  font-family: 'GT America';
  font-weight: 700;
  src: url('/static/GT-America-Standard-Bold.woff2') format('woff2'),
       url('/static/GT-America-Standard-Bold.ttf')  format('truetype'),
       url('/static/GT-America-Standard-Bold.otf')  format('opentype'),
}

/* Color Variables */
:root {
  --headline-color: #291a42;
  --subheadline-color: #179b8c;
  --body-color: #53546a;
  --highlight-color--makerteal: #179b8c;
  --highlight-color--makerorange: #f5b13d;
}

  * {
    font-family: system-ui, 'Helvetica Neue', sans-serif;
  }

body {
  width: 100%;
  margin: 0px;
  background: linear-gradient(180deg, rgba(182, 237, 231, 0.38) 0%, rgba(253, 193, 52, 0.15) 100%);
}

a {
  color: #1AAB9B;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Type Scale */

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
  margin:0px;
  line-height: 140%;
}

li {
  font-size: 1.25rem;
  margin:0px;
  line-height: 140%;
}
